#counter {
  font-size: 35vw;
  color: white;
  position: absolute;
  z-index: 1;
}

#box {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: #000000;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: 2;
  opacity: 0.9;
}

